@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './variables';
@import './mixins';

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    background: $main-bg-color;
}

.container {
    margin: 0 30px;
}

@import './pages/Dashboard';
@import './pages/DocumentCreateEdit';
@import './pages/RegisterLogin';
@import './components/PaginationDocuments';
@import './components/ActionButton';
@import './components/Alert';
@import './components/DocumentForm';
@import './components/Header';
@import './components/Table';
@import './components/Tag';
@import './components/TagList';
@import './app-responsive';
