@import './variables';
$default-mixins-color: #f5f5f5;

@mixin container() {
    margin: 5% auto;
    background-color: $main-element-bg-color;
    border-radius: 15px;
    box-shadow: 5px 5px darken($main-element-bg-color, 25%);
}

// MAIN BUTTON
@mixin btn($background: $main-primary-color, $opacity: 0.6) {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    outline: 0;
    border: 0;
    width: 100%;
    padding: 15px;
    background: $background;
    color: $default-mixins-color;
    text-transform: uppercase;
    border-radius: 15px;
    opacity: $opacity;
    transition: 0.5s;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

// MAIN TEXT INPUT
@mixin input($bg-color: $default-mixins-color) {
    font-family: $font-family;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    background-color: $bg-color;
}

// MAIN LINK
@mixin main-link($bg-color: $default-mixins-color) {
    position: relative;
    text-decoration: none;
    color: $link-color;

    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        background-color: $bg-color;
        transition: width 0.3s ease-in-out;
    }

    &:hover::before {
        width: 100%;
    }
}

@mixin shake-animation() {
    @keyframes shake-animation {
        0% { transform: translateX(0) }
        25% { transform: translateX(5px) }
        50% { transform: translateX(-5px) }
        75% { transform: translateX(5px) }
        100% { transform: translateX(0) }
    }
}
