//  ----------------------------------------------------------------
// FONTS
//  ----------------------------------------------------------------
$font-family: 'Roboto', sans-serif;


// ----------------------------------------------------------------
// COLORS
// ----------------------------------------------------------------
$main-bg-color: #D7CCC8;
$main-element-bg-color: #FFFFFF;
$main-primary-color: #FF5722;

$link-color: #00BFA5;
$bg-input-color: #90A4AE;
$success: #4BB543;

// TODO zmenit nazvy a farby...
$danger-color: #ff3838;
$success-color: #2ec946;
