@import '../variables';
@import '../mixins';

.create-new-document {
    @include container;
    @include btn($background: $success-color, $opacity: 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.filter-container {
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
}
