@import '../variables';
@import '../mixins';

.document-form {
    width: 600px;
    border-collapse: collapse;
    @include container();
    overflow: hidden;
    padding: 30px;

    .document-input {
        @include input;
    }

    .btn {
        @include btn;
        text-align: center;
        width: 180px;
    }

    hr {
        margin: 15px 0;
        color: $main-element-bg-color;
    }

    // UPLOAD BUTTON
    .hidden {
        display: none;
    }
}
