@import '../variables';
@import '../mixins';

.document-checkboxes {
    margin: 30px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.documment-checkbox {
    input {
        font: inherit;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
    }
    label {
        font-size: 24px;
        padding-left: 3px;
    }
}
